@import "_colors";

.color-bg,
body {
  color: $white;
  background-color: $black;
  font-size: 18px;
  margin: 30px 3em;
}

.button {
  background-color: $blue;
  border-radius: 5px;
}

#gameCanvas {
  // min-height: 50vh;
  height: 80vh;
  // max-width: 200vw;
}

#chatbox {
  img {
    max-height: 80vh;
  }

}

// FIXED HELP BUTTON AT BOTTOM RIGHT
#help-btn {
  // right: 10px;
  position: fixed;
  right: 15px; 
  bottom: 15px;
}